extends layout

block content
  .mainBody
    .topPanel
      .leftPanel
        form.addForm(action='/add', method='post')
          p Имя файла
          input.addFile(type='text', name='addFile')
          br
          br
          button.addButton(type='submit') Создать файл
        br
        br

        .saveFile
          form(action='/update', method='post', id="update")
            input(type='hidden', name='saveFile', value=fileName)
            button.saveButton(type='submit') Сохранить открытый файл
        .deleteFile
          form(action='/delete', method='post')
            input(type='hidden', name='deleteFile', value=fileName)
            button.deleteButton(type='submit') Удалить открытый файл
        .myFiles
          p Список файлов
          ul
           each file in myFilesArr
            li
              a(href="/file/#{file}")=file

       .fileArea
         .topBar
           .fileInfo
             p=fileName
         div(id="editorArea")
           textarea(@input="update", name="fileText", id="editor", form="update")=fileText
           div(v-html="compiledMarkdown", id="mdView")
  script.
    new Vue({
    el: '#editorArea',
    data: {
    input: document.getElementById('editor').value
    },
    computed: {
    compiledMarkdown: function () {
    return marked(this.input, { sanitize: true })
    }
    },
    methods: {
    update: _.debounce(function (e) {
    this.input = e.target.value
    }, 300)
    }
    })
